/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
html {
  box-sizing: border-box;
}

html,
body {
  background: #f3f3f3;
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */

// ***********************************
.paper-overlay-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  color: white;
  padding: 5px;
}
